<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="StreamBinding" closeTimeout="00:01:00" sendTimeout="00:01:00"
            maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
            transferMode="Streamed" messageEncoding="Mtom">
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
              maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          </binding>
        </basicHttpBinding>
        <netTcpBinding>
          <binding name="NetTcpBinding_IFileTransfer" transferMode="Streamed"
            maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
            <readerQuotas maxDepth="0" maxStringContentLength="0" maxArrayLength="0"
              maxBytesPerRead="0" maxNameTableCharCount="0" />
            <security mode="None" />
          </binding>
        </netTcpBinding>
        <wsDualHttpBinding>
          <binding name="WSDualHttpBinding_IChat" />
        </wsDualHttpBinding>
      </bindings>
        <client>
            <endpoint address="net.tcp://localhost/FileTransfer" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IFileTransfer" contract="ServiceReference1.IFileTransfer"
                name="NetTcpBinding_IFileTransfer">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost/Chat" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IChat" contract="ServiceReference2.IChat"
                name="WSDualHttpBinding_IChat">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>